@use "../../Styles/partials/mixins" as *;

.hero {
  margin-top: 2rem;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;

  @include tablet {
    flex-direction: row-reverse;
    padding: 2rem;
  }
  &__text {
    @include tablet {
      width: 50%;
    }
  }

  &__title {
    letter-spacing: 5px;
    color: #4e31aa;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 35px;
      letter-spacing: 10px;
    }
  }

  &__description {
    padding-bottom: 2rem;

    @include tablet {
      font-size: 20px;
    }
  }

  &__button {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-right: 0.5rem;

    @include tablet {
      margin-right: 1.25rem;
    }
  }

  &__img {
    width: 200px;

    @include tablet {
      display: block;
      border-radius: 50%;
      width: 100%;
    }
  }

  &__scroll {
    margin: auto;
    width: 50px;

    @include tablet {
      margin: 0rem;
      margin-top: 1rem;
      margin-left: 50%;
    }
  }
}

.skills {
  display: none;

  @include tablet {
    display: flex;

    gap: 0.5rem;
    font-size: 15px;
    margin-bottom: 2rem;
    &__list {
      background-color: grey;
      padding: 0.3rem;
      color: black;
      border-radius: 5px;
    }
  }
}
