@use "../../Styles/partials/mixins" as *;
.Portfolio {
  @include tablet {
    margin-top: 10rem;
  }
}
.services {
  background: linear-gradient(180deg, #0c0c1d, #4a155f);
  padding: 2rem;
  //   height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    display: flex;
    flex: 1;
    gap: 20px;
    align-self: center;
    text-align: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-self: flex-end;
      align-items: center;
      padding-bottom: 2rem;
    }

    p {
      padding-top: 3rem;
      font-size: 15px;
      color: gray;

      @include tablet {
        font-size: 20px;
        text-align: right;
        padding-top: 1rem;
      }

      .rainbow {
        background: linear-gradient(
          to right,
          #ef5350,
          #f48fb1,
          #7e57c2,
          #2196f3,
          #26c6da,
          #43a047,
          #eeff41,
          #f9a825,
          #ff5722
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    hr {
      width: 300px;
      // border: none;
      border-top: 0.5px solid gray;
      padding-top: 1rem;

      @include tablet {
        width: 500px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    // @include mobile {
    //   width: 100%;
    // }

    .title {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;

      @include tablet {
        flex-direction: row;
        gap: 50px;
        align-items: center;
        padding-bottom: 1rem;
      }

      img {
        width: 200px;
        height: 50px;
        border-radius: 50px;
        object-fit: cover;

        @include tablet {
          width: 300px;
          height: 100px;
        }
      }

      h1 {
        font-weight: 100;
        font-size: 36px;

        @include tablet {
          font-size: 96px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        font-size: 16px;
        width: 150px;
        height: 50px;

        // @include mobile {
        //   font-size: 16px;
        //   width: 150px;
        //   height: 50px;
        // }
      }
    }
  }
  .listContainer {
    display: flex;
    flex: 2;
    margin: auto;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      gap: 10px;
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      align-items: center;
      gap: 20px;
      padding: 10px;
      border-bottom: 1px solid gray;

      @include tablet {
        border: 0.5px solid gray;
        padding: 50px;
        align-items: flex-start;
      }

      //   @include mobile {
      //     border: none;
      //     align-items: center;
      //     gap: 20px;
      //     padding: 10px;
      //   }

      p {
        // display: none;

        @include tablet {
          display: unset;
        }
      }

      button {
        padding: 10px;
        border: none;
        cursor: pointer;

        background-color: transparent;
        border: 1px solid orange;
        border-radius: 5px;
        color: orange;
        width: 50%;
        padding: 5px;

        // @include mobile {
        //   background-color: transparent;
        //   border: 1px solid orange;
        //   border-radius: 5px;
        //   color: orange;
        //   width: 50%;
        //   padding: 5px;
        // }
      }
    }
  }
}
