@use "../../Styles/partials/mixins" as *;
.contact {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-right: 16px;
  padding-left: 16px;

  @include tablet {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 0;
    justify-content: space-around;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0;
    gap: 40px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 50%;
    }
    .rainbow {
      background: linear-gradient(
        to right,
        #ef5350,
        #f48fb1,
        #7e57c2,
        #2196f3,
        #26c6da,
        #43a047,
        #eeff41,
        #f9a825,
        #ff5722
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h1 {
      font-size: 40px;
      padding-bottom: 1rem;
      text-align: center;

      @include tablet {
        font-size: 80px;
        line-height: 88px;
        text-align: left;
      }
    }

    h2 {
      font-size: 25px;
      line-height: 22px;
      margin-top: 1.5rem;
      margin-left: 1rem;
      @include tablet {
        font-size: 40px;
        line-height: 44px;
        padding-top: 1rem;
      }
    }
  }

  .formContainer {
    width: 100%;
    margin: 2rem;
    margin-bottom: 4rem;

    @include tablet {
      width: 50%;
      margin: 0;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        // margin-bottom: 2rem;
        background-color: transparent;
        border: 1px solid white;
        // display: block;
      }

      button {
        border-radius: 10px;
        background-color: rgb(148, 85, 177);
        padding: 15px;
        color: black;
        font-size: 20px;
        &:hover {
          background-color: white;
        }
      }
    }
  }

  .question {
    color: white;
    margin: 1rem;
  }
}
